@media all and (max-width: 1600px) {
  
    .toogle {
        display: none;
        opacity: 0;
      }


@media all and (max-width: 1000px) {
  
    header{
        width: 100%;
    }

    .header-right{
        font-size: 15px;
    }

    .header-right a{
        margin-left:20px;
        margin: 5px;
    }

    .top-wrapper, .about-wrapper, .contact-wrapper{
        text-align: center;
        width: 100%;
    }

    .container h1{
        font-size: 68px;
    }

    .heading h1,
    .contact-headings h1{
        font-size: 60px;
    }

    .toogle {
        display: none;
        opacity: 0;
      }    
}



 @media all and (max-width:670px){
    header{
        width: 100%;
    }

    .header-right {
        display: none;
      }

    .logo {
        width: 35%;
        height: 35%;
    }

    .top-wrapper, .about-wrapper, .contact-wrapper{
        text-align: center;
        width: 100%;
    }

    .container h1, .heading h1,
    .contact-headings h1{
        font-size: 24px;
    }

    .container h2{
        font-size: 14px;
        margin-bottom: 4px;
    }

    .row p {
        width: 80%;
        font-size: 12px;
        line-height: 20px;
        margin: 0;
      }

    input[type=text] {
        padding: 10px 40px;
      }
      
    textarea[type=text] {
        padding: 10px 10px;
        width: 55%;
      }

    input[type=submit] {
        width: 50%;
        font-size: 14px;
    }

    footer img {
        width: 80px;
      }
      
    footer p {
        color: gray;
        font-size: 10px;
      }

    .btn{
        font-size: 10px;
        padding: 9px 15px;
        margin: 5px 0;
        border-radius: 10px;
    }
    .toogle {
        display: block;
        opacity: 1;
        margin-right: 20px;
      }

 }
